.login-component {
  position: relative;
  background: url('../../asset/img/backgroundImg.jpeg') no-repeat 50% fixed;

  min-height: 100vh;

  .wrapper-layout__title {
    text-align: center;
    padding-bottom: 30px;
    font: normal normal 500 17px/20px Roboto;
  }
  .wrapper-login-button {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    min-height: 640px;

    width: 100%;
    max-width: 512px;
    margin: 0 auto;

    &-layout {
      width: 100%;
      max-width: 352px;
    }
  }

  button {
    background-color: var(--plum-color);
  }

  .btn-submit-register {
    width: 100%;
  }
  .request-a-account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font: normal normal 500 17px/20px Roboto;
    // font-size: 16px;
    color: var(--rhodomyrtus);

    &__text {
      text-transform: uppercase;
    }

    &__icon {
      display: flex;
    }
  }
}
