.dashboard-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  .logout {
    display: flex;
    justify-content: end;
  }

  .content {
    .title {
      font-size: 36px;
    }

    .post-by {
      font-size: 14px;
    }
    .description {
      font-size: 18px;
    }
  }

  .fill-color-red {
    fill: red;
  }
}
