.gx-d-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.gx-d-flex-only {
  display: flex !important;
}

.gx-justify-space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

* {
  font-family: 'Roboto';
}
